<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <main class="container {% if site.color_scheme %}{{ site.color_scheme }}{% else %}avocado{% endif %}">
      {% if page.title == "Home" %}
      <header class="fadeInLeft animated">
      {% else %}
      <header>
      {% endif %}
        <div>
          <a href="{{ site.url }}" id="logo" title="{{ site.title }}"
             style="background-image: url({{ '/assets/images/logo.png' | relative_url }});"></a>
        </div>

        {% include navigation.html %}
      </header>

      {{ content }}

      <footer>
        <p>
          
        </p>
      </footer>
    </main>

    <!-- scripts -->
  </body>
</html>
